* {
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.container {
    width: 50%;
}
/* .container img:not(:first-of-type) {
    width: 20%;
    margin: 10px;
} */
.container > img:first-of-type {
    width: 100%;
}

.i {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}
.i img {
    width: 25%;
    margin: 1%;
}

.left-arrow, .right-arrow {
    width: 10%;
}
.left-arrow{
    transform: rotate(180deg);
}